.hero__dropdown {
    position: relative;
    margin-top: 34px;
    margin-bottom: 80px;
}

.hero__dropdown_current {
    display: flex;
    align-items: center;
    width: 630px;
    height: 90px;
    
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 25px;
    background-color: #fff;
    color: #f07131;
    border: none;
    background-image: url(../assets/Icons/chevron-down.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 32px top 50%;
    background-size: 26.6px auto;
}

.hero__dropdown_options_container {
    display: none;
    position: absolute;
    width: 694px;
    color: black;
    background-color: white;
    margin-top: 10px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    border-radius: 25px;
    overflow: hidden;
}

.hero__dropdown_options_container--active {
    display: block;    
}

.hero__dropdown_option {
    padding: 12px 32px;
    cursor: pointer;
}

.hero__dropdown_option:hover {
    background-color: #f07131;
    color: white;
}

.hero__dropdown_option label {
    cursor: pointer;
}

.hero__dropdown_option_radio {
    display: none;
}

@media (max-width: 1229px) {
    .hero__dropdown {
        margin-top: 17px;
        margin-bottom: 40px;
    }

    .hero__dropdown_current {
        width: 315;
        height: 45px;

        padding-left: 16px;
        padding-right: 16px;
        border-radius: 12px;

        background-size: 13.3px auto;
    }

    .hero__dropdown_options_container {
        width: 347px;

        margin-top: 5px;
        border-radius: 12px;
    }

    .hero__dropdown_option {
        padding: 6px 16px;
    }
}