.footer {
    display: flex;
    align-items: center;
    margin-top: 240px;
    height: 150px;
    background-color: #febc2e;
}

.footer__logo {
    width: 242px;
    height: 108px;
    margin-left: 100px;
}

@media (max-width: 1229px) {
    .footer {
        margin-top: 120px;
        height: 75px;
    }
    
    .footer__logo {
        width: 121px;
        height: 54px;
        margin-left: 50px;
    }
}